@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logo</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Projects</a>
    </nav>
    <div class="content px-4">
        @Body
    </div>
    <footer>
        &copy; Copyright 2020 Mohamed Al-Hussein
    </footer>
</div>
